
:root {
    --main-blue: #0065FC;
    --light-blue: #deebffff;
    --light-grey: #f2f2f2ff;
    --reg-grey: #d9d9d9ff;
    --auto-color: #000;
    --white: #ffff;
    --spec-white: #e9e9e9ff;
}


.main-blue {
    color: var(--main-blue);
}

.auto-color {
    color: var(--auto-color);
}

.reg-grey {
    color: var(--reg-grey);
}

.bold {
    font-weight: bold;
}


.order-1 {
    order: 2;
}

.order-2 {
    order: 1;
}

.margin-bottom {
    margin-bottom: 10px;
}

body{
    font-family: 'Raleway','Courier New', Courier, monospace;
    margin: 0;
}

.body-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.body-header-logo {
    width: 100px;
    height: 42px;
    margin: 28px 42% 20px 6%;
}


.body-header-nav-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    order: 2;
}

.body-header-nav-2 {
    margin-top: 28px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    order: 1;
}

.body-header-nav-1 > div {
    flex: 1;
}

.body-header-link{
    text-align: center;
}

.a-nav {
    text-decoration: none;
}

.padding-top-bott {
    padding-top: 10px;
    padding-bottom: 10px;
}

.a-selected {
    border-bottom-color: var(--main-blue);
    border-bottom-style: solid;
}


#form {
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 36px;
}

.section-header {
    width: 336px;
}

.section-header-title {
    font-weight: 700;
    margin: 0;
    font-size: 1.4em;
    line-height: 1;
}

.form-frame {
    display: flex;
    flex-direction: row;
}

.inline-form {
    display: flex;
    flex-direction: row;
    margin-right: -50px;
    height: 44px;
    width: 327px;
    border-style: solid;
    border-radius: 14px;
    border-color: var(--light-grey);
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    width: 51px;
    align-items: center;
}


.fa-map-marker-alt::before {
    display: inline-block;
    width: 14px;
    height: 18px;
}

.text-field {
    font-family: 'Raleway','Courier New', Courier, monospace;
    height: 42px;
    width: 230px;
    border: none;
    font-weight: 800;
    font-size: 1em;
    padding-left: 16px;
}

.square-button {
    border-style: solid;
    border-color: var(--main-blue);
    border-radius: 14px;
    width: 50px;
    background-color: var(--main-blue);
    color: var(--white);
    font-size: 1em;
}

.to-hide {
    display: none;
}


.form-filter {
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: 3px;
}


.filter-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100%;
}

.button-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 13px;
}

.form-filter-button:hover {
    box-shadow: 5px 5px 12px var( --spec-white), -5px -5px 12px var( --spec-white);
    cursor: pointer;
}


.form-filter-button {
    border-radius: 30px;
    border-style: solid;
    background-color: var(--white);
    margin-right: 0px;
    padding: 0;
    height: 50px;
    padding-left: 59px;
    padding-right: 20px;
    font-family: inherit;
    font-size: 0.9em;
    font-weight: 700;
}


.butt-icon {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-blue);
    color: var(--main-blue);
    justify-content: center;
    align-items: center;
    margin-right: -46px;
    z-index: 1;
}


.info-container
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.fa-info {
    display: flex;
    align-items: center;
    font-size: 8px;
    justify-content: center;
    color: var(--main-blue);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e4e4ff;
    width: 22px;
    height: 18px;
    margin-right: 10px;
}

.regular-text-alert {
    margin: 0;
    font-size: 1em;
}

.in-line-mosaics-frame {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 20px;
}

.in-col-mosaics-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mosaic-frame {
    display: flex;
    flex-direction: column;
}

.mosaic-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 50px;
    width: 330px;
}

.fa-chart-line {
    display: flex;
    width: 22px;
    height: 19px;
    font-size: 22px;
}

.mosaic-title {
    display: inline-block;
    width: 336px;
    font-size: 1.4em;
    margin-bottom: 19px;
    margin-top: 0;
}

.mosaic-footer {
    width: 336px;
}

.in-line-mosaic {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.in-line-mosaic-width {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 620px;
}

.in-col-mosaic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    height: 454px;
    padding-bottom: 32px;
}

#loc-lodgings {
    align-items: center;
}

#pop-lodgings {
    align-items: center;
    background-color: var(--light-grey);
    margin-bottom: 36px;
}

.in-line-card {
    display: flex;
    flex-direction: row;
    width: 333px;
    height: 133px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--white);
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 2px 2px 10px var( --spec-white), -2px -2px 7px var( --spec-white);
}

.in-line-pic {
    width: 128px;
    height: 133px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.in-line-card-text {
    margin-left: 22px;
}

.in-line-card-title {
    font-weight: 800;
    font-size: 1em;
    margin-top: 11px;
    margin-bottom: 11px;
}

.in-line-card-p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 34px;
}

.stars-container-2 {
    font-size: 0.7em;
}


.in-col-card {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 194px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: var(--white);
    background-color: var(--white);
    font-size: 0.5em;
    box-shadow: 2px 2px 10px var( --spec-white), -2px -2px 7px var( --spec-white);
}

.in-col-pic {
    width: 325px;
    align-self: center;
    height: 113px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.in-col-card-text {
    margin-left: 10px;  
}

.in-col-card-title {
    font-weight: 800;
    font-size: 1.7em;
    margin-top: 11px;
    margin-bottom: 11px;
}

.in-col-card-p {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 9px;
}

.in-col-a {
    margin-bottom: 10px;
}

.black-link {
    text-decoration: none;
    color: var(--auto-color);
    font-size: 1em;
    font-weight: 800;
}

.stars-container {
    display: flex;
    font-size: 1.4em;
}

.in-line-mosaics-frame-no-margin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.low-med-card {
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 190px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--light-grey);
    border-radius: 20px;
}

.low-med-card-pic {
    height: 133px;
    width: 332px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.reg-card-title {
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 17px;
}
.main-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    align-items: center;
    margin-top: 37px;
}

.main-footer-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 332px;
    height: 390px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.body-footer-ul {
    padding: 0;
    margin: 20px 0px 0px 0px;
}

.main-footer-li {
    list-style-type: none;
}

.foot-col-title {
    color: var(--auto-color);
    font-size: 1em;
    margin: 0;
}

.regular-text-foot {
    margin-top: 16px;
    font-size: 0.9em;
}

@media screen and (min-width: 768px) {

    main {
        width: 691px;
        margin: 0px auto 30px auto;
    }

    #form {
        margin: 0;
    }

    .margin-right {
        margin-right: 31px;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .body-header{
        width: 691px;
        flex-direction: row;
        margin: 0px auto 30px auto;
    }

    .body-header-logo {
        flex: 2;
        display: flex;
        align-items: flex-end;
        margin: 52px 0 0 0;
    }

    .body-header-logo > a {
        margin-top: 52px;
    }

    .body-header-nav-1 {
        display: flex;
        width: 310px;
        flex-direction: row;
        order: 1;
    }
    
    .body-header-nav-2 {
        margin-top: 0;
        margin-bottom: 0;
        order: 2;
        padding-top: 20px;
    }

    .a-selected {
        border-bottom: none;
        border-top-color: var(--main-blue);
        border-top-style: solid;
    }

    .padding-top-bott {
        padding-bottom: 0;
        padding-top: 44px;  
    }

    .padding-top-bott-2{
        padding-top: 47px;
    }

    .section-header {
        width: unset;
        margin-top: 0;
    }

    .section-header-title {
        font-weight: 700;
        margin: 0;
        font-size: 1.4em;
    }

    .regular-text {
        font-weight: normal;
        margin-top: 10px;
        font-size: 1em;
    }

    .in-line-mosaics-frame {
        margin: 36px 0 20px 0;
    }

    #loc-lodgings {
        align-items: flex-start;
        margin-bottom: 35px;
    }

    #pop-lodgings {
        align-items: flex-start;
        margin-bottom: 0;
        background-color: var(--white);
    }

    .in-line-mosaic {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mosaic-header {
        width: 100%;
    }

    .in-col-mosaic {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-content: space-between;
        flex: unset;
        height: unset;
    }
    

    .in-col-mosaics-frame {
        align-items: flex-start;
        margin: 0 0 0 0
    }

    .in-line-card {
        width: 323px;
    }

    .in-line-mosaic-width {
        height: unset;
        flex-direction: row;
    }
    
    .high-card {
        height: 390px;
    }

    .high-card-pic {
        height: 335px;
    }

    .main-footer-frame {
        flex-direction: row;
        width: 691px;
    }

}

@media screen and (min-width: 992px) {

    main {
        width: 721px;
    }

    .body-header{
        width: 721px;
    }

    .main-footer-frame {
        width: 721px;
    }

}


@media screen and (min-width: 1378px){
     
    .to-hide {
        display:inline;
    }

    .margin-right {
        margin-right: 31px;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .body-header{
        width: 1340px;
        flex-direction: row;
        margin: 0px auto 0px auto;
    }

    main {
        width: 1340px;
        margin: 0px auto 0px auto;
    }

    #form {
        margin-left: 3px;
    }

    .inline-form {
        width: 418px;
        margin-right: -132px;
    }

    .text-field {
        width: 219px;
    }
    
    .square-button {
        height: 50px;
        width: 132px;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        background-color: var(--main-blue);
        color: var(--white);
        font-size: 1.1em;
        font-weight: 600;
    }
    
    .fa-search::before {
        visibility: hidden;
        display: inline-block;
        width: 0;
        height: 0;
    }

    .form-filter {
        flex-wrap: unset;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    
    
    .filter-title {
        flex-direction: row;
        margin-right: 32px;
    }

    .form-filter-button {
        font-size: 1.3em;
    }

    .info-container
    {
        flex-direction: row;
        align-items: center;
        height: 24px;
    }

    .fa-info {
        align-items: center;
        font-size: 12px;
        justify-content: center;
        color: var(--main-blue);
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        border-color: #e4e4e4ff;
        width: 23px;
        height: 23px;
        margin-right: 13px;
    }
    
    .regular-text-alert {
        font-size: 1em;
    }

    .in-line-mosaics-frame {
        flex-direction: row;
        margin-top: 36px;
        margin-bottom: 20px;
    }

    .in-col-mosaics-frame {
        align-items: flex-start;
    }

    .mosaic-header {
        flex-direction: row;
        justify-content:space-between;
        height: 50px;
    }

    .fa-chart-line {
        width: 22px;
        height: 19px;
        font-size: 22px;
    }

    #loc-lodgings {
        background-color: var(--light-grey);
        border-radius: 20px;
        display: flex;
        align-items: unset;
        margin-right: 40px;
        padding: 42px 38px;
        flex: auto;
    }
    
    #pop-lodgings {
        background-color: var(--light-grey);
        border-radius: 20px;
        padding: 36px;
        flex: 1;
        margin-bottom: 0;
    }

    .in-line-mosaic-width {
        width: 655px;
        flex-direction: row;
        height: unset;
    }

    .in-col-mosaic {
       flex-direction: column;
       justify-content: space-between;
       height: 445px;
       padding-bottom: unset;
    }

    .in-col-a {
        margin-bottom: 40px;
    }

    .in-col-card {
        flex-direction: column;
        width: 235px;
        height: 190px;
        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        border-color: var(--white);
        background-color: var(--white);
        font-size: 0.5em;
        box-shadow: 2px 2px 10px var( --spec-white), -2px -2px 7px var( --spec-white);
    }

    .in-col-pic {
        width: 236px;
        align-self: center;
        height: 114px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    .in-col-card-text {
        margin-left: 10px;  
    }

    .in-col-card-title {
        font-weight: 800;
        font-size: 1.7em;
        margin-top: 11px;
        margin-bottom: 11px;
    }

    .in-col-card-p {
        font-size: 1.6em;
        margin-top: 0;
        margin-bottom: 9px;
    }

    .stars-container {
        font-size: 1.4em;
    }

    .black-link {
        text-decoration: none;
        color: var(--auto-color);
        font-size: 1em;
        font-weight: 800;
    }

    .in-line-card {
        flex-direction: row;
        width: 333px;
        height: 133px;
        border-style: solid;
        border-width: 5px;
        border-color: var(--white);
        border-radius: 20px;
        background-color: var(--white);
        box-shadow: 2px 2px 10px var( --spec-white), -2px -2px 7px var( --spec-white);
    }

    .in-line-pic {
        width: 128px;
        height: 133px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        object-fit: cover;
    }

    .in-line-card-title {
        font-weight: 800;
        font-size: 1em;
        margin-top: 11px;
        margin-bottom: 11px;
    }

    .in-line-card-p {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 34px;
    }

    .stars-container-2 {
        font-size: 0.7em;
    }

    .in-line-mosaics-frame-no-margin {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }


    .high-card {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 445px;
        border-style: solid;
        border-width: 5px;
        border-color: var(--light-grey);
        border-radius: 20px;
    }

    .high-card-pic {
        height: 387px;
        width: 300px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    .med-card {
        flex-direction: column;
        width: 300px;
        height: 244px;
        border-style: solid;
        border-width: 5px;
        border-color: var(--light-grey);
        border-radius: 20px;
    }

    .med-card-pic {
        display: flex;
        height: 176px;
        width: 300px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    .low-card {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 173px;
        border-style: solid;
        border-width: 5px;
        border-color: var(--light-grey);
        border-radius: 20px;
    }

    .low-card-pic {
        height: 108px;
        width: 300px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    .reg-card-title {
        font-size: 1em;
        font-weight: 700;
        margin-top: 20px;
        margin-left: 17px;
    }

    .main-footer {
        margin-top: 53px;
        align-items: unset;
    }

    .main-footer-frame {
        width: 1340px;
        flex-direction: row;
        margin: 0px auto 0px auto;
        padding-top: 50px;
        padding-bottom: 50px;
        height: unset;
    }

    .main-footer-col {
        flex: 1;
    }

    .body-footer-ul {
        padding: 0;
        margin: 25px 0px 0px 0px;
    }

    .main-footer-li {
        list-style-type: none;
    }

    .foot-col-title {
        font-size: 1em;
        margin: 0;
    }

    .regular-text-foot {
        margin-top: 16px;
        font-size: 0.9em;
    }

}